:root,
:root[data-theme='light'],
:root[data-theme='dark'] {
  --font-sans:
    Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --font-mono:
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
    Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
}

.tsd-typography {
  line-height: 1.5em;
}

/* hide the markdown header from README.md */
body
  > div.container.container-main
  > div.col-content
  > div.tsd-panel.tsd-typography
  > h1 {
  display: none;
}
