name: 'Publish documentation'
on:
  push:
    branches:
      - 'main'

jobs:
  publish-documentation:
    permissions:
      pages: 'write'
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: 'github-pages'
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/prepare
      - run: npm run build:docs

      - name: 'Upload Pages artifact'
        uses: 'actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b' # v4
        with:
          path: 'docs/'

      - name: 'Deploy documentation to GitHub Pages'
        uses: 'actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e' # v4
