permissions:
  contents: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/prepare
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6
        env:
          NODE_PATH: ${{ github.workspace }}/node_modules

name: Validate Commit Messages

on:
  pull_request: ~
  push:
    branches:
      - main
